* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(40, 47, 53);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}
